:root {
  --vermelho: #e50914;
  --preta: #141414;
  --white: #ffffff;
  --light-grey: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", Times, serif;
}

/* Base */

body {
  background: var(--preta);
  color: var(--white);
}

.container {
  margin-left: 20px;
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-size: 40px;
}

.nav a {
  text-decoration: none;
  color: var(--light-grey);
  margin-right: 10px;
}

.nav a:hover {
  color: var(--white);
}

/* Capa do filme principal */

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/capa-house.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .container {
  width: 70%;
}

.descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  margin-top: 5px;
  width: 300px;

  padding: 15px 30px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao i {
  margin-right: 8px;
}

.botao:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Carrossel */

.carrosel-filmes {
  margin-top: 5px;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.box-filme:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}

/* Tablet Up */

@media screen and (min-width: 768px) {
  .header .container {
    flex-direction: row;
  }

  .filme-principal {
    height: 700px;
  }

  .botao {
    margin: 0 15px 0;
    width: auto;
  }
}

/* Notebook Up */

@media screen and (min-width: 1024px) {
  .descricao {
    width: 50%;
  }
}
